<!doctype html>
<html>
  <head>
  </head>
  
  <body>
    <div ng-app="mychat" ng-controller="myctrl">
    <h1> WELCOME TO CHATROOM</h1>
    <hr>
    KINDLY REGISTER YOURSELF OR LOGIN IF ALREADY REGISTERED
    <hr>
    <a href="/registration"> REGISTER HERE</a>
    <hr>
    <hr>
    <a href='/login'>LOGIN HERE</a>
    </div>
  </body>
</html>
